.cta-cards-container {
    display: grid;
    gap: 30px;
    justify-content: center;
}

#hero-image-container {
    height: 500px;
    min-width: 100vw;
    left: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    overflow-y: clip;
    z-index: -1;
}

@media screen and (max-width: 850px) {
    #hero-image-container {
        height: auto;
        z-index: 1;
    }
}

#hero-image {
    position: absolute;
    min-width: 100vw;
}

@media screen and (min-width: 850px) {
    .cta-cards-container {
        grid-template-columns: 1fr 1fr;
    }

}

.cta-card-top-row {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}

.cta-card-container {
    padding: 60px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    width: 100%;
    max-width: none;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 950px) {
    .cta-card-container {
        padding: clamp(30px, 4vw - 8px, 40px) clamp(20px, 16vw - 132px, 60px);
        width: auto;
        max-width: 650px;
    }
}

.cta-card-container svg {
    display: inline;
    margin-right: 5px;
}

.cta-cards-container a {
    width: 100%;
    max-width: none;
    text-decoration: none;
}

@media screen and (min-width: 950px) {
    .cta-cards-container a {
        width: auto;
        max-width: 600px;
    }
}

.cta-card-container h2 {
    font-size: 1.2rem;
    letter-spacing: -1px;
}

.cta-card-brief {
    font-weight: 300;
    margin-bottom: auto;
}
.cta-card-container p {
    margin-bottom: 10px;
}

.cta-card-arrow-link-container {
    margin-top: auto;
    max-height: fit-content;
}

.mf-hero {
    font-size: 10rem;
    line-height: 10rem;
    letter-spacing: -0.8rem;
    text-decoration: underline;
    text-decoration-color: #F2B79F;
    padding-bottom: 50px;
}

#cta-cards-section {
    padding-bottom: 30px;
}

@media screen and (max-width: 800px) {
    #cta-cards-section {
        padding-right: 5px;
        padding-left: 5px;
    }

    .mf-hero {
        font-size: 5rem;
        line-height: 1.2;
        letter-spacing: -0.2rem;
        padding-bottom: 10px;
    }
}
