.cta-cards-container {
    display: grid;
    gap: 30px;
    justify-content: center;
}

#hero-image-container {
    height: 500px;
    min-width: 100vw;
    left: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    overflow-y: clip;
    z-index: -1;
}

@media screen and (max-width: 850px) {
    #hero-image-container {
        height: auto;
        z-index: 1;
    }
}

#hero-image {
    position: absolute;
    min-width: 100vw;
}

@media screen and (min-width: 1200px) {
    .cta-cards-container {
        grid-template-columns: 1fr 1fr;
    }

}

.cta-card-top-row {
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}

.cta-card-container {
    padding: 40px 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    max-width: 650px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cta-card-container svg {
    display: inline;
    margin-right: 5px;
}

.cta-cards-container a {
    max-width: 600px;
    text-decoration: none;
}

.cta-card-container {
    margin-right: auto;
    margin-left: auto;
}

.cta-card-container h2 {
    font-size: 1.2rem;
    letter-spacing: -1px;
}

.cta-card-brief {
    margin-bottom: auto;
}
.cta-card-container p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.cta-card-arrow-link-container {
    max-height: fit-content;
}

@media screen and (max-width: 800px) {
    #cta-cards-section {
        padding-right: 5px;
        padding-left: 5px;
    }
}
