@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: #EFEFEF;
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: rgba(221, 221, 210, 1);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --separator-factor: 15px;
  --font-playfair: 'Playfair Display', serif;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.872 0.273 143.724);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  p {
    font-size: 1.3rem;
  }
}

body {
  min-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: underline;
}
nav a {
  text-decoration: none;
}

section > h1 {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: -3px;
}

@media screen and (max-width: 800px) {
  h1 {
    line-height: 1; /* Adjusts the space between lines */
    margin-bottom: 40px;
  }
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: -2px;
}

.condense {
  letter-spacing: -1.5px;
}

#experience {
  padding-bottom: 50px;
}

.experience-item:first-of-type {
  padding-top: 0;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: -2px;
}

.invert-colors {
  background-color: #222222;
  color: #ffffff;
}

.accent2 {
  color: #dcdcdc;
}

section > p {
  font-weight: 300;
}

@media screen and (min-width: 800px) {
  .section-padding {
    padding-right: 5rem;
    padding-left: 5rem;
    padding-top: 5rem;
  }
}

.project-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 50px;
}

.project-columns > * {
  max-width: 100%;
}

@media screen and (min-width: 1201px) {
  .product-columns.project-columns {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1200px) {
  .project-columns {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 100%;
    align-items: center;
    gap: 50px;
  }
}

@media screen and (max-width: 799px) {
  .large-separator {
    margin-top: 50px !important;
  }
}
@media screen and (max-width: 799px) {

}

section {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-top: 4rem;
}

.small-separator {
  margin-top: 10px;
}

.medium-separator {
  padding-bottom: calc(var(--separator-factor));
  padding-top: calc(var(--separator-factor));
}

.large-separator {
  margin-top: calc(var(--separator-factor) * 4);
}

.medium-top-separator {
  margin-top: calc(var(--separator-factor) * 2);
}

.medium-bottom-separator {
  margin-bottom: calc(var(--separator-factor) * 2);
}

.large-bottom-separator {
  margin-bottom: calc(var(--separator-factor) * 2);
}

.large-padding-gap-top {
  padding-top: calc(var(--separator-factor) * 3);
}

.large-padding-y {
  padding-top: calc(var(--separator-factor) * 3);
}

.medium-padding-x {
  padding-right: 50px;
  padding-left: 50px;
}

.bold {
  font-weight: 500;
}



section > * {
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 5px;
  padding-left: 5px;
}

@media screen and (min-width: 800px) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

body > section {
  margin-top: 30px;
  padding-bottom: 30px;
}

.layout-space-between {
  display: flex;
  justify-content: space-between;
}

.layout-space-between > * {
  display: inline;
}

.light-border-top {
  border-top: 1px solid #929292;
}

.small-padding-top {
  padding-top: 50px;
}

.small-padding-bottom {
  padding-top: 50px;
}

@media screen and (min-width: 1200px) {
  .midland-steel-projects {
    padding: 50px 100px;
  }
}

.midland-steel-projects {
  display: grid;
}

:root {
  --accent-purple: #3f4696;
}

h4 {
  color: var(--accent-purple);
}

.midland-steel-projects > * {
  margin-bottom: 30px;
  display: inline;
}

.project-circle-container {
  display: inline;
  margin-right: 30px;
  margin-top: 5px;
  max-width: fit-content;
}

.project-brief-container {
  display: inline;
  max-width: fit-content;
}

.midland-steel-project-outer-container {
  display: flex;
}

.midland-steel-project-circle {
  margin: 10px 0;
}
