#parent-nav {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 30px;
    position: fixed;
    top: 0;
    min-width: 100vw;
    z-index: 100;
    transition: 1s;
}

nav > img {
    max-width: fit-content;
}

.mikey-logo {
    position: absolute;
    left: 30px;
    display: flex;
    align-items: center;
}

.navbar-backdrop {
    transition: 1s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-height: 75px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(15px);
}

#mobile-slideout {
    display: none;
}

#navbar-center {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    #navbar-center {
        display: none !important;
    }
    #mobile-slideout {
        display: flex;
    }
}

.navbar-item {
    margin-right: 20px;
}

.navbar-center {
    display: flex;
    justify-content: center;
    gap: 3rem;
}