.repo-card {
    max-width: calc(100vw - 60px);
    padding: 30px;
    border-radius: 3px;
    min-height: 300px;
}

.skeleton {
    min-height: 10px;
    background-color: #efefef;
    box-shadow: none;
}

h6 .skeleton {
    min-height: 2rem;
    min-width: 100px;
    background-color: #676767;
}

.top-card-skeleton {
    max-width: 200px;
}

@keyframes backgroundFade {
    0% {
        background-color: #f6f6f6;
    }
    50% {
        background-color: #efefef;
    }
    100% {
        background-color: #f6f6f6;
    }
}

.skeleton-text {
    min-height: 10px;
    min-width: 50px;
    background-color: #efefef;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    border-radius: 1px;
    margin-top: 10px;
    animation: backgroundFade 3s infinite ease-in-out;
}

.skeleton-profile-picture {
    height: 40px;
    width: 40px;
    border-radius: 100px;
}

.repo-title {
    max-width: 175px;
}

.repo-owner {
    min-width: 250px;
}

@media screen and (min-width: 800px) {
    .repo-card {
        margin: 100px 20px 50px 50px;
    }
}

.light-border {
    border: 1px solid #8d8d8d;
}

.top-card {
    display: flex;
    gap: 20px;
}

.repo-owner-avatar {
    max-height: 50px;
}

.repo-owner {
    opacity: 50%;
}

.repo-title-owner-container {
    min-width: fit-content;
}

.repo-description {
    font-size: 1rem;
}

.repo-card-drop-shadow {
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
}

.repo-project-source-code-container-skeleton {
    height: 25px;
    min-width: 60px;
    border-radius: 100px;
    margin: auto 0 auto auto;
}

.repo-project-source-code-container {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 30px;
}

.repo-project-source-code-button {
    cursor: pointer;
    background-color: #ffffff;
    color: black;
    padding: 5px 10px;
    border-radius: 100px;
    font-size: 0.75rem;
}

.repo-topic {
    background-color: #efefef;
    padding: 5px 10px;
    font-size: 0.75rem;
    border-radius: 100px;
}

.technologies-container {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    min-height: 100%;
}

.technologies-container > * {
    display: inline;
    margin-right: 10px;
    min-width: fit-content;
}

.repo-topics {
    display: flex;
    gap: 10px;
}