.slideout-menu {
    position: fixed;
    opacity: 0;
    top: 0;
    background-color: white;
    min-height: 100vh;
    min-width: 100vw;
    left: 0;
    padding: 100px 30px;
    pointer-events: none;

    /* Animation */
    transition: 0.5s ease-in-out;
}

.slideout-menu > * {
    display: block;
    font-size: 1.75rem;
    line-height: 3.5rem;
    font-weight: 300;

    /* Animation */
    transition-delay: 1s;
    transition: 1s ease-in-out;
}

.slideout-menu-active {
    pointer-events: all;
    position: fixed;
    right: 0;
    opacity: 1;

    /* animation */
    transition: 0.5s ease-in-out;
}

.slideout-menu > a {
    opacity: 0;
}

.slideout-menu-active > a {
    opacity: 1;

    /* Animation */
    transition: opacity 0.5s 0.25s ease-in-out;
}