body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 400px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
    #email-address {
        font-size: 1rem;
    }
}
